AnimalesGit.sln
AnimalesGit.userprefs
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-Editor-firstpass.unityproj
Assembly-UnityScript.unityproj
Demo.apk
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
Library/metadata/01/01af09018c5b51a48910b86b40662cee.info
