AnimalesGit.sln
AnimalesGit.userprefs
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-Editor-firstpass.unityproj
Assembly-UnityScript.unityproj
Demo.apk
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
